@using LSFProject.Data
@using System.Linq
@{
    LSFProjectContext _context = new LSFProjectContext();
}
<div class="footer-widget style-two">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-lg-3 ">
                <div class="single-widget">
                    <h3 class="font-green">О нас</h3>
                    <div class="footer-logo">
                        <img src="~/img/logo.png" alt="">
                    </div>
                    <p class="footer-about-text">@Config.SiteTitle.</p>

                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single-widget">
                    <h3 class="font-per">Последние посты</h3>
                    @foreach(AspNetNews newsItem in _context.AspNetNews)
                    {
                        <div class="sin-post">
                            <img src="@_context.AspNetFiles.FirstOrDefault(p => p.Id == newsItem.PreviewPhoto).Photo" alt="@_context.AspNetFiles.FirstOrDefault(p => p.Id == newsItem.PreviewPhoto).Title">
                            <div class="post-brif">
                                <a asp-controller="Home" asp-action="NewsDetails" asp-route-url="@newsItem.Url">ПОЖАРНАЯ БЕЗОПАСНОСТЬ 2020</a>
                                <p>05.02.2020</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single-widget">
                    <h3 class="font-sky">Последние Твиты</h3>
                    <div class="sin-twitter">
                        <p><a class="twitter-icon" href="">Мы создали новую игру</a> Если вы еще не пробовали игру об основах безопасности жизнедеятельности, самое время попробывать! <a href="#">LSFProject/KSFJ2kfSF</a>  </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="single-widget">
                    <h3 class="font-orange">Контакты</h3>
                    <div class="footer-contact">
                        <div class="sin-con">
                            <i class="fa fa-instagram"></i>
                            <p><a href="@Config.Inst">@Config.InstTitle</a></p>
                        </div>
                        <div class="sin-con">
                            <i class="fa fa-phone"></i>
                            <a href="tel:@Config.Tel">@Config.Tel</a>
                        </div>
                        <div class="sin-con">
                            <i class="fa fa-envelope"></i>
                            <a href="mailto:@Config.Mail">@Config.Mail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Footer widget area end-->
<!--Footer area start-->
<div class="footer-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <p>&copy; @DateTime.Now.Year @Config.SiteHeader. Разработка - Дипломный проект("Вадим&Дима")</p>
            </div>
            <div class="col-sm-12 col-md-6">
                <ul class="social-icon float-right">
                    <li><a href=""><i class="fa fa-youtube"></i></a></li>
                    <li><a href=""><i class="fa fa-behance"></i></a></li>
                    <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                    <li><a href=""><i class="fa fa-instagram"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa fa-facebook"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>