@using Microsoft.AspNetCore.Identity
@inject SignInManager<LSFProject.Areas.Identity.Data.LSFUser> SignInManager
@inject UserManager<LSFProject.Areas.Identity.Data.LSFUser> UserManager

@{
    LSFProjectContext _context = new LSFProjectContext();
}

@*<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">LifeSafetyFundamentals</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <partial name="_LoginPartial.cshtml" />
                </div>
            </div>
        </nav>
    </header>*@
<div class="preloader"></div>

<!--Top bar area start-->
<div class="top-bar style-two">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-6 col-xl-7">
                <span class="first-span">@Config.SiteHeader</span>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-5">
                <div class="serch-wrapper float-right hide-sm-up">
                    <div class="search align-middle">
                        <input class="search-input" placeholder="Search" type="text">
                        <a href="javascript:void(0)">
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>
                <ul class="social-icon">
                    <li>
                        <a href="@Config.YouTube">
                            <i class="fa fa-youtube"></i>
                        </a>
                    </li>
                    <li>
                        <a href="@Config.Inst">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="@Config.Facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--Top bar area end-->
<!--Logo and contact info area Start -->

<div class="logo-area-style-two">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-2">
                <div class="logo">
                    <a asp-action="Index" asp-controller="Home">
                        <img src="~/img/logo.png" alt="">
                    </a>
                </div>
                <div class="accordion-wrapper hide-sm-up">
                    <a href="#" class="mobile-open">
                        <i class="fa fa-bars"></i>
                    </a>
                    <!--Mobile Menu start-->

                    <ul id="mobilemenu" class="accordion">


                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li style="padding: 0px 42px;">
                                <div class="row">
                                    <div class="col" style="position: relative; width: 350px;">
                                        <div class="account-logo-ellipse-4">
                                        </div>
                                        <div class="account-logo-ellipse-3">
                                        </div>
                                        <div class="account-logo-ellipse-2">
                                        </div>
                                        <div class="account-logo-ellipse-1">
                                            @if (SignInManager.IsSignedIn(User) && _context.AspNetIcons.Any(x => x.UserId == UserManager.GetUserId(User)))
                                            {
                                                byte[] image = _context.AspNetIcons.FirstOrDefault(i => i.UserId == UserManager.GetUserId(User)).Icon;
                                                <img class="account-logo-img" src="data:image/png;base64,@System.Convert.ToBase64String(image)" alt="">
                                            }
                                            else
                                            {
                                                <img class="account-logo-img" src="@(Config.DomainName + "img/account/8ea1168fa53ct.jpg")"/>
                                            }
                                        </div>
                                    </div>
                                    <div class="text-center col-7">
                                        <h4>@UserManager.FindByNameAsync(User.Identity.Name).Result.Email</h4>
                                        <partial name="UserLevelPartial"/>
                                        <a asp-area="Identity" asp-page="/Account/Manage/Index" class="btn btn-primary">Перейти в профиль</a>
                                    </div>
                                </div>
                            </li>
                        }
                        <li>
                            <a class="closeme" href="#">
                                <i class="fa fa-times"></i>
                            </a>
                        </li>
                        <li class="fc-red out-link">
                            <a asp-action="Index" asp-controller="Home">Главная</a>
                        </li>
                        <li class="fc-green out-link">
                            <a asp-action="Index" asp-controller="Home">Новости</a>
                        </li>
                        <li>
                            <div class="link font-orange">Остравок безопасности<i class="fa fa-chevron-down"></i></div>
                            <ul class="submenu font-orange">
                                <li>
                                    <a asp-controller="Home" asp-action="RazdelOBJ" asp-route-linkRazdel="child/life-collective-safe" asp-route-razdelName="child">Личная и коллективная безопасность</a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="RazdelOBJ" asp-route-linkRazdel="child/safe-at-chs" asp-route-razdelName="child">Защита от ЧС</a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="RazdelOBJ" asp-route-linkRazdel="child/inside-and-safe" asp-route-razdelName="child">Окружающая среда и безопасность</a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="RazdelOBJ" asp-route-linkRazdel="child/health-life" asp-route-razdelName="child">Здоровый образ жизни</a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="RazdelOBJ" asp-route-linkRazdel="child/books" asp-route-razdelName="child">Литература</a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="RazdelOBJ" asp-route-linkRazdel="child/videos" asp-route-razdelName="child">Видео материалы</a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="RazdelOBJ" asp-route-linkRazdel="child/games" asp-route-razdelName="child">Развивающие игры</a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="RazdelOBJ" asp-route-linkRazdel="child/test" asp-route-razdelName="child">Тест</a>
                                </li>

                            </ul>
                        </li>

                        <li>
                            <div class="link font-per">Не пропаду!?!<i class="fa fa-chevron-down"></i></div>
                            <ul class="submenu font-per">
                                <li>
                                    <a href="#">Личная и коллективная безопасность</a>
                                </li>
                                <li>
                                    <a href="#">Защита от ЧС</a>
                                </li>
                                <li>
                                    <a href="#">Окружающая среда и безопасность</a>
                                </li>
                                <li>
                                    <a href="#">Здоровый образ жизни</a>
                                </li>
                                <li>
                                    <a href="#">Литература</a>
                                </li>
                                <li>
                                    <a href="#">Видео материалы</a>
                                </li>
                                <li>
                                    <a href="#">Развивающие игры</a>
                                </li>
                                <li>
                                    <a href="#">Тест</a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <div class="link font-sky">Пригодится, чтобы выжить...<i class="fa fa-chevron-down"></i></div>
                            <ul class="submenu font-per">
                                <li>
                                    <a href="#">Личная и коллективная безопасность</a>
                                </li>
                                <li>
                                    <a href="#">Защита от ЧС</a>
                                </li>
                                <li>
                                    <a href="#">Здоровый образ жизни</a>
                                </li>
                                <li>
                                    <a href="#">Окружающая среда и безопасность</a>
                                </li>
                                <li>
                                    <a href="#">Литература</a>
                                </li>
                                <li>
                                    <a href="#">Видео материалы</a>
                                </li>
                                <li>
                                    <a href="#">Игры</a>
                                </li>
                                <li>
                                    <a href="#">Тест</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="link font-per">
                                <a href="about-us.html">Форум</a>
                            </div>

                        </li>
                        <partial name="_LoginPartialMobile"/>

                    </ul>
                    <!--Mobile Menu end-->

                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-8">
                <div class="contact-area-two">
                    <div class="call-us con-top-sin" style="margin-top: 2%;">
                        <h5 style="font-size: 23px;">ЗА БЕЗОПАСНОСТЬ ВМЕСТЕ!</h5>
                    </div>
                    <div class="call-us con-top-sin">
                        <a href="https://mchs.gov.by/">
                            <img src="~/img/MHS.png" alt="">
                        </a>
                        <p class="text-primary">МЧС</p>
                        <p class="con-text text-danger">101</p>
                    </div>
                    <div class="mail-us con-top-sin">
                        <a href="https://mvd.gov.by/ru">
                            <img src="~/img/MVD.png" alt="">
                        </a>
                        <p class="text-danger">МВД</p>
                        <p class="con-text text-primary">102</p>
                    </div>
                    <div class="location-us con-top-sin">
                        <a href="http://minzdrav.gov.by/ru/">
                            <img src="~/img/Ambulance.png" alt="">
                        </a>
                        <p class="text-primary">Скорая помощь</p>
                        <p class="con-text text-danger">103</p>
                    </div>
                </div>
            </div>
            <div class=" col-md-2 hide-sm col-lg-2">
                <a asp-action="AboutOfServices" asp-controller="Home" class="kids-care-btn bg-red" style="font-size: 15px;">Подробнее о службах</a>
            </div>
        </div>
    </div>
</div>
<!--Logo and contact info area end -->
<!--Menu  area Start -->

<div class="menu-area-two">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9 col-xl-9 hide-sm">
                <div class="mainmenu-two style-two float-left">
                    <ul id="navigation">
                        <li class="fc-orange">
                            <a asp-controller="Home" asp-action="Index">ГЛАВНАЯ</a>
                        </li>
                        <li class="fc-sky hav-sub">
                            <a asp-controller="Home" asp-action="News">НОВОСТИ</a>
                        </li>
                        <li class="fc-sky hav-sub">
                            <a asp-controller="Home" asp-action="RazdelOBJ" asp-route-linkRazdel="child/obj-for-child" asp-route-razdelName="child">ОСТРОВОК БЕЗОПАСНОСТИ<i class="fa fa-angle-down"></i></a>
                            <div class="mega-menu">
                                <div class="mega-catagory">
                                    <div class="mega-button">
                                        <a asp-controller="Home" asp-action="RazdelOBJ" asp-route-linkRazdel="child/life-collective-safe" asp-route-razdelName="child">Личная и коллективная безопасность</a>
                                        <a asp-controller="Home" asp-action="RazdelOBJ" asp-route-linkRazdel="child/safe-at-chs" asp-route-razdelName="child">Защита от ЧС</a>
                                        <a asp-controller="Home" asp-action="RazdelOBJ" asp-route-linkRazdel="child/inside-and-safe" asp-route-razdelName="child">Окружающая среда и безопасность</a>
                                        <a asp-controller="Home" asp-action="RazdelOBJ" asp-route-linkRazdel="child/health-life" asp-route-razdelName="child">Здоровый образ жизни</a>
                                    </div>
                                </div>
                                <div class="mega-catagory">
                                    <div class="mega-button">
                                        <a asp-controller="Home" asp-action="RazdelOBJ" asp-route-linkRazdel="child/books" asp-route-razdelName="child">Литература</a>
                                        <a asp-controller="Home" asp-action="RazdelOBJ" asp-route-linkRazdel="child/videos" asp-route-razdelName="child">Видео материалы</a>
                                        <a asp-controller="Home" asp-action="RazdelOBJ" asp-route-linkRazdel="child/games" asp-route-razdelName="child">Развивающие игры</a>
                                        <a asp-controller="Home" asp-action="RazdelOBJ" asp-route-linkRazdel="child/test" asp-route-razdelName="child">Тест</a>
                                    </div>
                                </div>
                                <div class="mega-catagory">
                                    <div class="mega-button">
                                        <div class="mega-img">
                                            <img src="~/img/mega-1.jpg" alt="" style="padding-bottom: 80px;">
                                        </div>
                                    </div>
                                </div>
                                <div class="mega-bg">
                                    <img src="~/img/icon/preloader.gif" width="70" style="margin-left: 40px;"/>
                                    <hr class="bg-red" style="height: 5px;"/>
                                </div>
                            </div>
                        </li>
                        @*<li>
                                <div class="link font-sky">ОБЖ для детей<i class="fa fa-chevron-down"></i></div>
                                <ul class="submenu font-sky">
                                    <li><a href="#">Личная и коллективная безопасность</a></li>
                                    <li><a href="#">Защита от ЧС</a></li>
                                    <li><a href="#">Окружающая среда и безопасность</a></li>
                                    <li><a href="#">Здоровый образ жизни</a></li>
                                    <li><a href="#">Литература для детей</a></li>
                                    <li><a href="#">Видео материалы для детей</a></li>
                                    <li><a href="#">Развивающие игры</a></li>
                                    <li><a href="#">Тест</a></li>
                                    <li>
                                        <div class="mega-catagory mega-img">
                                            <img src="img/mega-1.jpg" alt="">
                                            <span>Admission Open</span>
                                            <a href="#" class="bgc-orange">Apply now</a>
                                        </div>
                                    </li>
                                </ul>
                            </li>*@
                        <li class="fc-sky hav-sub">
                            <a href="#">НЕ ПРОПАДУ!?!<i class="fa fa-angle-down"></i></a>
                            <div class="mega-menu">
                                <div class="mega-catagory">
                                    <div class="mega-button">
                                        <a href="#">Личная и коллективная безопасность</a>
                                        <a href="#">Защита от ЧС</a>
                                        <a href="#">Окружающая среда и безопасность</a>
                                        <a href="#">Здоровый образ жизни</a>
                                    </div>
                                </div>
                                <div class="mega-catagory">
                                    <div class="mega-button">
                                        <a href="#">Литература</a>
                                        <a href="#">Видео материалы</a>
                                        <a href="#">Развивающие игры</a>
                                        <a href="#">Тест</a>
                                    </div>
                                </div>
                                <div class="mega-catagory">
                                    <div class="mega-button">
                                        <div class="mega-img">
                                            <img src="~/img/mega-2.jpg" alt="" style=" padding-bottom: 40px;">
                                        </div>
                                    </div>
                                </div>
                                <div class="mega-bg">
                                    <img src="~/img/icon/preloader.gif" width="70" style="margin-left: 40px;"/>
                                    <hr class="bg-red" style="height: 5px;"/>
                                </div>
                            </div>
                        </li>
                        @*<li>
                                <div class="link font-sky">ОБЖ для подростков<i class="fa fa-chevron-down"></i></div>
                                <ul class="submenu font-sky">
                                    <li><a href="#">Личная и коллективная безопасность</a></li>
                                    <li><a href="#">Защита от ЧС</a></li>
                                    <li><a href="#">Окружающая среда и безопасность</a></li>
                                    <li><a href="#">Здоровый образ жизни</a></li>
                                    <li><a href="#">Литература для подростков</a></li>
                                    <li><a href="#">Видео материалы для подростков</a></li>
                                    <li><a href="#">Игры</a></li>
                                    <li><a href="#">Тест</a></li>
                                </ul>
                            </li>*@
                        <li class="fc-sky hav-sub">
                            <a href="#">ПРИГОДИТСЯ, ЧТОБЫ ВЫЖИТЬ...<i class="fa fa-angle-down"></i></a>
                            <div class="mega-menu">
                                <div class="mega-catagory">
                                    <div class="mega-button">
                                        <a href="#">Личная и коллективная безопасность</a>
                                        <a href="#">Защита от ЧС</a>
                                        <a href="#">Здоровый образ жизни</a>
                                        <a href="#">Окружающая среда и безопасность</a>
                                    </div>
                                </div>
                                <div class="mega-catagory">
                                    <div class="mega-button">
                                        <a href="#">Литература</a>
                                        <a href="#">Видео материалы</a>
                                        <a href="#">Игры</a>
                                        <a href="#">Тест</a>
                                    </div>
                                </div>
                                <div class="mega-catagory">
                                    <div class="mega-button">
                                        <div class="mega-img">
                                            <img src="~/img/mega-3.jpg" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="mega-bg">
                                    <img src="~/img/icon/preloader.gif" width="70" style="margin-left: 40px;"/>
                                    <hr class="bg-red" style="height: 5px;"/>
                                </div>
                            </div>
                        </li>
                        @*<li>
                                <div class="link font-sky">ОБЖ для взрослых<i class="fa fa-chevron-down"></i></div>
                                <ul class="submenu font-sky">
                                    <li><a href="#">Личная и коллективная безопасность</a></li>
                                    <li><a href="#">Защита от ЧС</a></li>
                                    <li><a href="#">Здоровый образ жизни</a></li>
                                    <li><a href="#">Окружающая среда и безопасность</a></li>
                                    <li><a href="#">Литература для взрослых</a></li>
                                    <li><a href="#">Видео материалы для взрослых</a></li>
                                    <li><a href="#">Игры</a></li>
                                    <li><a href="#">Тест</a></li>
                                </ul>
                            </li>*@
                        <li class="fc-sky hav-sub">
                            <a asp-controller="Game" asp-action="Index">ФОРУМ</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-lg-3 col-xl-3 hide-sm">
                <div class="search-reg">
                    <div class="reg-area" style="display: flex; padding: 0;">
                        <div class="search align-middle">
                            <form method="post" asp-controller="Home" asp-action="SearchActionResult">
                                <input id="searchinput" name="searchinput" class="search-input" placeholder="Поиск" type="text">
                                <a href="javascript:void(0)">
                                    <i class="fa fa-search"></i>
                                </a>
                            </form>
                        </div>
                        <i class="fa fa-user" style="padding-top: 3px;"></i>
                        <partial name="_LoginPartial.cshtml"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Menu  area end -->