@{
    ViewData["Title"] = "Главная";
    LSFProjectContext _context = new LSFProjectContext();
}
<!-- Slides start -->
<div class="slider-wrapper">
    <partial name="SliderPartial.cshtml"/>
</div>

<!-- Slides end -->
<!--Features area start-->
<section class="feature-area-two">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="area-heading font-per style-two" style="font-weight: bold;">Основные экстренные службы Республики Беларусь</h1>
                <p class="heading-para" style="font-size: 20px; font-weight: bold;">Ниже представлен краткий список основных служб Республики Беларусь, для экстренного вызова.</p>
            </div>
        </div>
        <div class="row no-gutters justify-content-center">
            <div class="col-xl-10">
                <div class="row">
                    <div class="col-md-6 col-lg-3 col-xl-3">
                        <div class="sin-feature-two wow fadeInUp" data-wow-delay=".6s">
                            <div class="feat-two-img">
                                <img class="first-img" src="img/icon/mhs-car.png" height="35" width="60"/>
                                <img src="img/icon/feature-icon-50.png" alt="" style="position: absolute; margin-left: -35px;">
                            </div>
                            <h3 style="text-align: center; font-weight: bold;">Министерство по ЧС</h3>
                            <p style="font-size: 16px;">Министерство по чрезвычайным ситуациям Республики Беларусь — республиканский орган государственного управления Беларусь.</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 col-xl-3">
                        <div class="sin-feature-two wow fadeInUp" data-wow-delay=".6s">
                            <div class="feat-two-img">
                                <img class="first-img" src="img/icon/mvd-car.png" height="35" width="60"/>
                                <img src="img/icon/feature-icon-6.png" alt="" style="position: absolute; margin-left: -35px;">
                            </div>
                            <h3 style="text-align: center; font-weight: bold;">Милиция</h3>
                            <p style="font-size: 16px;">Милиция Республики Беларусь — правоохранительный орган Республики Беларусь.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3">
                        <div class="sin-feature-two wow fadeInUp" data-wow-delay=".7s">
                            <div class="feat-two-img">
                                <img class="first-img" src="img/icon/medic-car.png" height="35" width="60"/>
                                <img src="img/icon/feature-icon-5.png" alt="" style="position: absolute; margin-left: -35px;">
                            </div>
                            <h3 style="text-align: center; font-weight: bold;">Скорая помощь</h3>
                            <p style="font-size: 16px;">Скорая медицинская помощь — вид медицинской помощи, оказываемой гражданам при заболеваниях, несчастных случаях, травмах, отравлениях и других состояниях, требующих срочного медицинского вмешательства.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3">
                        <div class="sin-feature-two wow fadeInUp" data-wow-delay=".99s">
                            <div class="feat-two-img">
                                <img class="first-img" src="img/icon/avar-car.png" height="35" width="60"/>
                                <img src="img/icon/feature-icon-7.png" alt="" style="position: absolute; margin-left: -35px;">
                            </div>
                            <h3 style="text-align: center; font-weight: bold;">Аварийная служба газа</h3>
                            <p style="font-size: 16px;">Аварийно-диспетчерская служба (АДС) - это подразделение экстренного реагирования вашего Оператора ГРМ (газораспределительной компании), в котором работают высококвалифицированные специалисты.</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
<!--Features area end-->
<!--Wellcome area start-->
<div class="wellcome-area-wrapper ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-xl-6">
                <div class="wellcome-content wow fadeInUp" data-wow-delay=".5s">
                    <h2 class="font-orange area-heading">Почему необходимо знать<br>основы безопасности и жизнедеятельности</h2>
                    <p>Изучение предмета «Основы безопасности жизнедеятельности» (ОБЖ) даёт знания и умения, позволяющие сделать жизнь человека долгой, активной и здоровой. Изучая ОБЖ, ты научишься правильно организовывать свою учёбу, труд, досуг. Ты узнаешь, как сохранить своё здоровье и уберечься от вредных привычек.</p>
                    <a href="#" class="kids-care-btn bg-red">Про ОБЖ</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Wellcome area end-->
<!--About kids school style three start-->
<div class="about-kids-three">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="area-heading font-per style-two">Чему научит данный сайт</h1>
                <p class="heading-para">Основы безопасности и жизнедеятельности учит детей оказанию первой помощи, формированию навыков реагирования в чрезвычайных ситуациях, изучает опасности, которые могут угрожать ребенку, и методы защиты от них.</p>
            </div>
        </div>
        <div class="row">
            <div class="order-md-2 col-md-6 col-lg-4 order-lg-1 offset-xl-1 col-xl-4">
                <div class="wel3-oneside">

                    <div class="wel3-sin wow fadeInLeft" data-wow-delay=".5s">
                        <div class="sin-wel-3-con ">
                            <h3>Оказание первой помощи в чрезвычайных ситуациях</h3>
                            <p>Комплекс экстренных медицинских мероприятий, проводимых внезапно заболевшему или пострадавшему на месте происшествия.</p>
                        </div>
                        <div class="wel3-icon">
                            <img src="img/icon/wel-three-1.png" alt="">
                        </div>

                    </div>

                    <div class="wel3-sin wow fadeInLeft" data-wow-delay=".5s">
                        <div class="sin-wel-3-con">
                            <h3>Навыкам рагирование в чрезвычайных ситуациях</h3>
                            <p>
                                Защиту здоровья населения города в чрезвычайных ситуациях, а также до и
                                после них обеспечивает Департамент здравоохранения
                            </p>
                        </div>
                        <div class="wel3-icon">
                            <img src="img/icon/wel-three-2.png" alt="">
                        </div>

                    </div>

                    <div class="wel3-sin wow fadeInLeft" data-wow-delay=".5s">
                        <div class="sin-wel-3-con">
                            <h3>Изучим опасности</h3>
                            <p>Опасности и явления, угрожающие жизни и здоровью человека.</p>
                        </div>
                        <div class="wel3-icon">
                            <img src="img/icon/wel-three-3.png" alt="">
                        </div>

                    </div>

                </div>
            </div>
            <div class="order-md-1 col-md-12 order-lg-2 col-lg-4 col-xl-2">
                <div class="text-center">
                    <img class="animated-img" src="img/bg/ballon.png" alt="" style="margin-top: 100%;">
                </div>
            </div>
            <div class="order-md-3 col-md-6 col-lg-4 order-lg-3 col-xl-4">
                <div class="wel3-oneside align-left">

                    <div class="wel3-sin wow fadeInRight" data-wow-delay=".5s">
                        <div class="wel3-icon">
                            <img src="img/icon/wel-three-4.png" alt="">
                        </div>
                        <div class="sin-wel-3-con">
                            <h3>Реагирование при техногенных и природных катастрофах</h3>
                            <p>Выучим какие действия необходимо принимать при техногенных и природных катастрофах.</p>
                        </div>
                    </div>

                    <div class="wel3-sin wow fadeInRight" data-wow-delay=".5s">
                        <div class="wel3-icon">
                            <img src="img/icon/wel-three-5.png" alt="">
                        </div>
                        <div class="sin-wel-3-con">
                            <h3>
                                Культуру безопасного поведения в повседневной жизни
                            </h3>
                            <p>
                                Определенный уровень развития человека и общества, характеризуемый значимостью задачи обеспечения безопасности жизнедеятельности в системе личных и социальных ценностей.
                            </p>
                        </div>
                    </div>

                    <div class="wel3-sin wow fadeInRight" data-wow-delay=".5s">
                        <div class="wel3-icon">
                            <img src="img/icon/wel-three-6.png" alt="">
                        </div>
                        <div class="sin-wel-3-con">
                            <h3>
                                Навыки ведения здорового образа жизни
                            </h3>
                            <p>Формирование у детей навыков ведения здорового образа жизни, распространение медицинских и гигиенических знаний.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!--About kids school style three end-->
<!--Counter up Area start-->
<section class="counter-area d-flex align-items-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 offset-md-0 col-md-3 offset-lg-2 col-lg-2">
                <div class="sin-counter">
                    <p class="counter">6127</p>
                    <span>Общее кол-во ЧС</span>
                </div>
            </div>
            <div class="col-6 col-md-3 col-lg-2">

                <div class="sin-counter">
                    <p class="counter">6116</p>
                    <span>Пожары</span>
                </div>
            </div>
            <div class="col-6 col-md-3 col-lg-2">

                <div class="sin-counter">
                    <p class="counter">4</p>
                    <span>Взрывы</span>
                </div>
            </div>
            <div class="col-6 col-md-3 col-lg-2">

                <div class="sin-counter">
                    <p class="counter">490</p>
                    <span>Погибло людей</span>
                </div>
            </div>

        </div>
    </div>
</section>
<!--Counter up Area end-->
<!--Our class area start-->
<div class="our-class-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="area-heading font-per style-two">Учебные пособия по оснвовам безопасности и жизнедеятельности</h1>
                <p class="heading-para">Команда нашего сайта, рекомендует к обязательному прочтению нескольких учебных пособий. Выберите подходящую книгу и вы окунетесь в мир основ безопасности и жизнедеятельности! Книги помогут развить умственное мышление и укрепят знания в области ОБЖ!</p>
            </div>
        </div>
        <div class="class-are-inner-width">

            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="sin-class wow fadeInUp" data-wow-delay=".5s">
                        <div class="row no-gutters">
                            <div class="left-c">
                                <div class="class-con-top bg-orange" style="padding-right: 20px;">
                                    <h5>ОБЖ для дошкольников</h5>
                                    <h6>Автор: Татьяна Петровна Гарнышева</h6>
                                    <p>Первая публикация: 2011 г.</p>
                                </div>
                                <div class="class-con-bot">
                                    <p style="padding: 10px;">В книгу включены календарное планирование, конспекты занятий и игр с детьми. а также работы с родителями о совместные мероприятия по ОБЖ.<a href="#" class="text-warning float-right">Читать...</a></p>
                                </div>
                            </div>
                            <div class="r-class">
                                <img src="img/class/class-h1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="sin-class wow fadeInUp" data-wow-delay=".5s">
                        <div class="row no-gutters">
                            <div class="left-c">
                                <div class="class-con-top bg-blue" style="padding-right: 20px;">
                                    <h5>Основы безопасности жизнедеятельности. 6 класс</h5>
                                    <h6>Редактор: Юрий Леонидович Воробьев</h6>
                                    <p>Первая публикация: 2007 г.</p>
                                </div>
                                <div class="class-con-bot">
                                    <p style="padding: 10px;">Вопросы и задания проверочных работ охватывают все основные темы учебной программы по ОБЖ за 6класс.<a href="#" class="text-warning float-right">Читать...</a></p>
                                </div>
                            </div>
                            <div class="r-class">
                                <img src="img/class/class-h2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="sin-class wow fadeInUp" data-wow-delay=".5s">
                        <div class="row no-gutters">
                            <div class="left-c">
                                <div class="class-con-top bg-green" style="padding-right: 20px;">
                                    <h5>
                                        Программа "Светофор". Обучение детей дошкольного возраста.
                                    </h5>
                                    <p>Издательство: 2020 г.</p>
                                </div>
                                <div class="class-con-bot">
                                    <p style="padding: 10px;">
                                        В программе излагаются содержание и технология работы по обучению детей от 3 до 7 лет ПДД.<a href="#" class="text-warning float-right">Читать...</a>
                                    </p>
                                </div>
                            </div>
                            <div class="r-class">
                                <img src="img/class/class-h3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="sin-class wow fadeInUp" data-wow-delay=".5s">
                        <div class="row no-gutters">
                            <div class="left-c">
                                <div class="class-con-top bg-red">
                                    <h5 style="padding-right: 20px;">Основы безопасности жизнедеятельности. 10 класс</h5>
                                    <p>Первая публикация: 2009 г.</p>
                                </div>
                                <div class="class-con-bot">
                                    <p style="padding: 10px;">Учебник «Основы безопасности жизнедеятельности» для 10 класса разработан авторским коллективом в соответствии с федеральным государственным образовательным стандартом... <a href="#" class="text-warning float-right">Читать...</a></p>
                                </div>
                            </div>
                            <div class="r-class">
                                <img src="img/class/class-h4.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Our class area end-->
<!--Facilities area start-->
<div class="facilities-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="area-heading font-w style-two">Уже доступно наше приложение</h1>
                <p class="heading-para font-w">
                    Команада нашего сайта, разработала приложение по Основам безопасности и жизнедеятельности! Скачайте приложение прямо сейчас, исследуйте новые для себя знаки и получайте баллы!
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 offset-xl-1 col-xl-5">
                <div class="facil-content wow flipInY" data-wow-delay=".2s">
                    <div class="fac-con-top">
                        <h3>Приложение по основам безопасности и жизнедеятельности</h3>
                        <p>На данный момент приложение доступно только для телефонов с ОС андроид! В скоре наша команда будет стараться сделать поддержку для всех платформ! В приложении вы можете</p>
                    </div>
                    <div class="fac-con-bottom">
                        <div class="sin-fac">
                            <h5>Изучайте знаки</h5>
                            <p>Приложение даст вам полное обоснование знака.</p>
                        </div>
                        <div class="sin-fac">
                            <h5>Выбирать для себя особые знаки</h5>
                            <p>Сохраните Ваш любимый знак в избранные и ищите его на карте города.</p>
                        </div>
                        <div class="sin-fac">
                            <h5>Личная статистика</h5>
                            <p>Ищите, сохраняйте, делитесь и получайте дополнительные баллы.</p>
                        </div>
                        <div class="sin-fac">
                            <h5>Делайте наше приложение круче</h5>
                            <p>Оставляйте свои отзывы о приложении, наша команда обязательно прислушается к вам, и даст вам быстрый ответ.</p>
                        </div>
                    </div>
                    <div class="fac-con-top text-center">
                        <a class="btn btn-warning">Скачать приложение</a>
                        <a class="btn btn-warning">Поделится</a>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-xl-5">
                <div class="fac-image wow flipInX text-center" data-wow-delay=".5s">
                    <img src="img/icon/OBJ-App.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!--Facilities area end-->
<!--Service area start-->
<div class="service-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="area-heading  style-two">Примеры чрезвычайных ситуаций</h1>
                <p class="heading-para ">
                    Чрезвычайная ситуация (ЧС) — это обстановка на определённой территории, сложившаяся в результате аварии, опасного природного явления, катастрофы, распространения заболевания, стихийного или иного бедствия, которые могут повлечь или повлекли за собой человеческие жертвы, ущерб здоровью людей или окружающей среде, значительные материальные потери и нарушение условий жизнедеятельности людей.
                    Ниже представлены примеры ЧС, и краткое описание, что необходимо применить для их устранения и меры предосторожности.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="offset-md-0 col-md-12 offset-lg-1 col-lg-10">
                <div class="row">
                    <div class=" col-sm-6 col-md-6 col-lg-4">
                        <div class="sin-ser wow fadeInUp" data-wow-delay=".1s">
                            <img src="img/icon/ser-1.png" alt="">
                            <div class="ser-det">
                                <h2>Утечка газа</h2>
                                <p><span class="text-danger">НЕ ВКЛЮЧАТЬ СВЕТ И НЕ ПОЛЬЗОВАТЬСЯ СПИЧКАМИ!</span> Первым делом перекройте газовый кран. Откройте как можно больше окон. Позвоните в <span class="text-danger">104</span>!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6  col-md-6 col-lg-4">
                        <div class="sin-ser wow fadeInUp" data-wow-delay=".3s">
                            <img src="img/icon/ser-3.png" alt="">
                            <div class="ser-det">
                                <h2>Пожар</h2>
                                <p><span class="text-danger">НЕ ЛИТЬ НА ВОЗГОРАНИЕ ВОДУ ИЛИ ЛЕГКОВОСПЛАМЕНЯЮЩИЕСЯ ЖИДКОСТИ!</span> Как можно скорее вызвать спасательную службу по номеру <span class="text-danger">101</span>!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="sin-ser wow fadeInUp" data-wow-delay=".5s">
                            <img src="img/icon/ser-5.png" alt="">
                            <div class="ser-det">
                                <h2>Радиация</h2>
                                <p>Находясь на улице, немедленно защитите органы дыхания платком (шарфом) и поспешите укрыться в помещении. Оказавшись в укрытии, снимите верхнюю одежду и обувь, поместите их в пластиковый пакет и примите душ. Закройте окна и двери.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="sin-ser wow fadeInUp" data-wow-delay=".7s">
                            <img src="img/icon/ser-2.png" alt="">
                            <div class="ser-det">
                                <h2>Разбился градусник</h2>
                                <p>Выведите из помещения людей, в первую очередь детей. Откройте окно в помещении, где был разбит градусник, а дверь обязательно закройте. Как можно скорее вызвать спасательную службу по номеру <span class="text-danger">101</span>!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="sin-ser wow fadeInUp" data-wow-delay=".9s">
                            <img src="img/icon/ser-4.png" alt="">
                            <div class="ser-det">
                                <h2>Транспортная авария</h2>
                                <p>Если в автомобиле попавший в аварию остались люди, попытайтесь достать из авто. Вызовите скорую по номеру <span class="text-danger">103</span>! Окажите первую медицинскую помощь! Если есть угроза возгораниия вызовите спасателей по номеру <span class="text-danger">101</span>!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="sin-ser wow fadeInUp" data-wow-delay=".99s">
                            <img src="img/icon/ser-6.png" alt="">
                            <div class="ser-det">
                                <h2>Воспламенение электроприборов</h2>
                                <p><span class="text-danger">НЕ ТРОГАЙТЕ ПРИБОР ГОЛЫМИ РУКАМИ!</span> Оденьте резиновые перчати. Выньте из розетки вилку электроприбора. Отключите весь свет в квартире!</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>
<!--Service area end-->
<!--Childcare service area start-->
<partial name="RequestForRolePartial"/>
<!--Childcare service area end-->
<!--Why choose us and upcoming area start-->
<div class="event-and-choose">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 offset-xl-2 col-xl-4">
                <h1 class="area-heading font-red style-two">Lorem ipsum</h1>
                <p class="heading-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas eveniet, nemo dicta. Ullam nam</p>
                <div class="sin-up-event">
                    <img src="img/up-ev-1.jpg" alt="">
                    <div class="sin-up-right">
                        <h5 class="font-orange">Lorem ipsum</h5>
                        <span>
                            <i class="fa fa-clock-o"></i>@DateTime.Now.ToShortDateString()
                        </span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas eveniet, nemo dicta. Ullam nam</p>
                    </div>
                </div>
                <div class="sin-up-event">
                    <img src="img/up-ev-2.jpg" alt="">
                    <div class="sin-up-right">
                        <h5 class="font-orange">Lorem ipsum</h5>
                        <span>
                            <i class="fa fa-clock-o"></i>@DateTime.Now.ToShortDateString()
                        </span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas eveniet, nemo dicta. Ullam nam</p>
                    </div>
                </div>
                <div class="sin-up-event">
                    <img src="img/up-ev-3.jpg" alt="">
                    <div class="sin-up-right">
                        <h5 class="font-orange">Lorem ipsum</h5>
                        <span>
                            <i class="fa fa-clock-o"></i>@DateTime.Now.ToShortDateString()
                        </span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas eveniet, nemo dicta. Ullam nam</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <h1 class="area-heading font-sky style-two">Lorem ipsum</h1>
                <p class="heading-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas eveniet, nemo dicta. Ullam nam</p>
                <div class="collapse-wrapper">
                    <div id="accordion" role="tablist">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Lorem ipsum</a>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit quae repellendus provident dolor iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingTwo">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Lorem ipsum
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit quae repellendus provident dolor iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingThree">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Lorem ipsum
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit quae repellendus provident dolor iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingFour">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        Lorem ipsum
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit quae repellendus provident dolor iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Why choose us and upcoming area end-->
<!--Parent say area start-->
<section class="parent-say-area wow fadeInUp" data-wow-delay=".3s">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="area-heading font-sky style-two">Цитаты про ОБЖ</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="parent-say-content owl-carousel owl-theme">
                    <!--single parent say-->
                    <div class="sin-parent-say item">
                        <div class="sin-parent-say-inner">
                            <p>Спасение 1 человека также велико, как и спасение целой нации. Но, многие не хотят спасать 1 человека, но желают спасать нации.</p>
                        </div>
                        <div class="sin-parent-img">
                            <img src="img/latest-news/coments-1.png" alt="">
                        </div>
                    </div>
                    <!--single parent say-->
                    <div class="sin-parent-say item">
                        <div class="sin-parent-say-inner">
                            <p>Все бедствия людей происходят не столько от того, что они не сделали того, что нужно, сколько от того, что они делают то, чего не нужно делать.</p>
                        </div>
                        <div class="sin-parent-img">
                            <img src="img/latest-news/coments-2.png" alt="">
                        </div>
                    </div>
                    <!--single parent say-->
                    <div class="sin-parent-say item">
                        <div class="sin-parent-say-inner">
                            <p>Безопасность — это категория неизмеримо более высокая, чем величие.</p>
                        </div>
                        <div class="sin-parent-img">
                            <img src="img/latest-news/coments-3.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Parent say area end-->
<!--Latest News area start-->
<section id="news" class="latest-news-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="area-heading font-sky style-two">Последние новости</h1>
            </div>
        </div>
        <div class="row justify-content-center no-gutters">
            <div class="col-xl-8">
                <div class="row">
                    @foreach (AspNetNews newsItem in _context.AspNetNews.OrderByDescending(date => date.Date).Where(news => news.Status == StatusNews.Publish).Take(3))
                    {
                        <div class="col-md-4 col-xl-4">
                            <div class="single-news wow wow flipInY" data-wow-delay=".7s">
                                <img src="@(Config.DomainName + _context.AspNetFiles.FirstOrDefault(p => p.Id == newsItem.PreviewPhoto).Path)" width="300" alt="@(_context.AspNetFiles.FirstOrDefault(p => p.Id == newsItem.PreviewPhoto).Title)" style="max-height: 200px;">
                                <div class="news-det">
                                    <h4>@newsItem.Header</h4>
                                    <p>@newsItem.PreviewText</p>
                                    <div class="news-meta">
                                        <span>
                                            <i class="fa fa-comment"></i>
                                            @_context.AspNetNewsComments.Where(id => id.NewsId == newsItem.Id).ToList().Count() Коментарии
                                        </span>
                                        <span>
                                            <i class="fa fa-share-alt-square"></i>
                                            @newsItem.Share Репосты
                                        </span>
                                        <a asp-controller="Home" asp-action="NewsDetails" asp-route-url="@newsItem.Url">
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</section>
<!--Latest News area area end-->
<!--Newsletter style two area start-->
<section class="newsletter-two d-flex align-items-center">
    <div class="container-fluid ">
        <div class="row ">
            <div class="col-md-12 col-lg-8">
                <div class="subscribe-link  style-two float-right">
                    <form method="post" class="newsletter-form">
                        <input placeholder="Введите email" name="email" type="text">
                        <button type="submit" name="submit" id="newsletter-submit" class="  kids-care-btn bgc-orange nl-button">Подписаться</button>
                        <div class="form-result alert">
                            <div class="content"></div>
                        </div>
                    </form>
                </div>
                <span>Подписка</span>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="border"></div>
                <a class="nl2-phone-number" href="">@Config.Tel</a>
            </div>
        </div>
    </div>
</section>
<!--Newsletter style two area end-->