@using LSFProject.ViewModels;
@{
    ViewData["Title"] = "Главная";
    LSFProjectContext _context = new LSFProjectContext();
}
<!-- Slides start -->
<div class="slider-wrapper">
    <partial name="SliderPartial.cshtml" />
</div>

<!-- Slides end -->
<!--Features area start-->
<section class="feature-area-two">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="area-heading font-per style-two" style="font-weight: bold;">Основные экстренные службы Республики Беларусь</h1>
                <p class="heading-para" style="font-size: 20px; font-weight: bold;">Ниже представлен краткий список основных служб Республики Беларусь, для экстренного вызова.</p>
            </div>
        </div>
        <div class="row no-gutters justify-content-center">
            <div class="col-xl-10">
                <div class="row">
                    <div class="col-md-6 col-lg-3 col-xl-3">
                        <div class="sin-feature-two wow fadeInUp" data-wow-delay=".6s">
                            <div class="feat-two-img">
                                <img src="img/icon/feature-icon-50.png" alt="">
                            </div>
                            <h3 style="text-align: center; font-weight: bold;">Министерство по ЧС</h3>
                            <p style="font-size: 16px;">Министерство по чрезвычайным ситуациям Республики Беларусь — республиканский орган государственного управления Беларусь.</p>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-3 col-xl-3">
                        <div class="sin-feature-two wow fadeInUp" data-wow-delay=".6s">
                            <div class="feat-two-img">
                                <img src="img/icon/feature-icon-6.png" alt="">
                            </div>
                            <h3 style="text-align: center; font-weight: bold;">Милиция</h3>
                            <p style="font-size: 16px;">Милиция Республики Беларусь — правоохранительный орган Республики Беларусь.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3">
                        <div class="sin-feature-two wow fadeInUp" data-wow-delay=".7s">
                            <div class="feat-two-img">
                                <img src="img/icon/feature-icon-5.png" alt="">
                            </div>
                            <h3 style="text-align: center; font-weight: bold;">Скорая помощь</h3>
                            <p style="font-size: 16px;">Скорая медицинская помощь — вид медицинской помощи, оказываемой гражданам при заболеваниях, несчастных случаях, травмах, отравлениях и других состояниях, требующих срочного медицинского вмешательства.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 col-xl-3">
                        <div class="sin-feature-two wow fadeInUp" data-wow-delay=".99s">
                            <div class="feat-two-img">
                                <img src="img/icon/feature-icon-7.png" alt="">
                            </div>
                            <h3 style="text-align: center; font-weight: bold;">Аварийная служба газа</h3>
                            <p style="font-size: 16px;">Аварийно-диспетчерская служба (АДС) - это подразделение экстренного реагирования вашего Оператора ГРМ (газораспределительной компании), в котором работают высококвалифицированные специалисты.</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
<!--Features area end-->
<!--Wellcome area start-->
@*<div class="wellcome-area-wrapper ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-xl-6">
                <div class="wellcome-content wow fadeInUp" data-wow-delay=".5s">
                    <h2 class="font-orange area-heading">Kids Loved How We<br>Treat Them </h2>
                    <p>Lorem ipsum dolor sit amet, consecteturExcepteur sint occaecat cupidatat non proident, sunt in cuculpa qui officiacuculpa qui officiacuculpa qui officiaLorem ipsum dolor sit amet,cuculpa qui officiacuculpa qui officiacuculpa qui officiaLorem ipsum dolor sit amet</p>
                    <a href="#" class="kids-care-btn bg-red">Why Kindergarten?</a>
                </div>
            </div>
        </div>
    </div>
</div>*@
<!--Wellcome area end-->
<!--About kids school style three start-->
<!--<div class="about-kids-three">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="area-heading font-per style-two">About Our kids school</h1>
                <p class="heading-para">we promised you that, we always try to take care of your childdren.Early child care is a very important and often overlooked component of child development</p>
            </div>
        </div>
        <div class="row">
            <div class="order-md-2 col-md-6 col-lg-4 order-lg-1 offset-xl-1 col-xl-4">
                <div class="wel3-oneside">

                    <div class="wel3-sin wow fadeInLeft" data-wow-delay=".5s">
                        <div class="sin-wel-3-con ">
                            <h3>Funny and Happy</h3>
                            <p>We are group of teachers who really love childrens and enjoy every moment .</p>
                        </div>
                        <div class="wel3-icon">
                            <img src="img/icon/wel-three-1.png" alt="">
                        </div>

                    </div>

                    <div class="wel3-sin wow fadeInLeft" data-wow-delay=".5s">
                        <div class="sin-wel-3-con">
                            <h3>Fulfill With Love</h3>
                            <p>We are group of teachers who really love childrens and enjoy every moment .</p>
                        </div>
                        <div class="wel3-icon">
                            <img src="img/icon/wel-three-2.png" alt="">
                        </div>

                    </div>

                    <div class="wel3-sin wow fadeInLeft" data-wow-delay=".5s">
                        <div class="sin-wel-3-con">
                            <h3>Special Education</h3>
                            <p>We are group of teachers who really love childrens and enjoy every moment .</p>
                        </div>
                        <div class="wel3-icon">
                            <img src="img/icon/wel-three-3.png" alt="">
                        </div>

                    </div>

                </div>
            </div>
            <div class="order-md-1 col-md-12 order-lg-2 col-lg-4 col-xl-2">
                <div class="animated-img">
                    <img src="img/bg/kiddy-animation.gif" alt="">
                </div>
            </div>
            <div class="order-md-3 col-md-6 col-lg-4 order-lg-3 col-xl-4">
                <div class="wel3-oneside align-left">

                    <div class="wel3-sin wow fadeInRight" data-wow-delay=".5s">
                        <div class="wel3-icon">
                            <img src="img/icon/wel-three-4.png" alt="">
                        </div>
                        <div class="sin-wel-3-con">
                            <h3>Professional Teaching</h3>
                            <p>We are group of teachers who really love childrens and enjoy every moment.</p>
                        </div>
                    </div>

                    <div class="wel3-sin wow fadeInRight" data-wow-delay=".5s">
                        <div class="wel3-icon">
                            <img src="img/icon/wel-three-5.png" alt="">
                        </div>
                        <div class="sin-wel-3-con">
                            <h3>Fully Equiped</h3>
                            <p>We are group of teachers who really love childrens and enjoy every moment.</p>
                        </div>
                    </div>

                    <div class="wel3-sin wow fadeInRight" data-wow-delay=".5s">
                        <div class="wel3-icon">
                            <img src="img/icon/wel-three-6.png" alt="">
                        </div>
                        <div class="sin-wel-3-con">
                            <h3>Transportation</h3>
                            <p>We are group of teachers who really love childrens and enjoy every moment.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>-->
<!--About kids school style three end-->
<!--Counter up Area start-->
<section class="counter-area d-flex align-items-center">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 offset-md-0 col-md-3 offset-lg-2 col-lg-2">
                <div class="sin-counter">
                    <p class="counter">6127</p>
                    <span>Общее кол-во ЧС</span>
                </div>
            </div>
            <div class="col-6 col-md-3 col-lg-2">

                <div class="sin-counter">
                    <p class="counter">6116</p>
                    <span>Пожары</span>
                </div>
            </div>
            <div class="col-6 col-md-3 col-lg-2">

                <div class="sin-counter">
                    <p class="counter">4</p>
                    <span>Взрывы</span>
                </div>
            </div>
            <div class="col-6 col-md-3 col-lg-2">

                <div class="sin-counter">
                    <p class="counter">490</p>
                    <span>Погибло людей</span>
                </div>
            </div>

        </div>
    </div>
</section>
<!--Counter up Area end-->
<!--Our class area start-->
<!--<div class="our-class-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="area-heading font-per style-two">Our Classes</h1>
                <p class="heading-para">we promised you that, we always try to take care of your childdren.Early child care is a very important and often overlooked component of child development</p>
            </div>
        </div>
        <div class="class-are-inner-width">

            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="sin-class wow fadeInUp" data-wow-delay=".5s">
                        <div class="row no-gutters">
                            <div class="left-c">
                                <div class="class-con-top bgc-orange">
                                    <h5>MATCH CLASS</h5>
                                    <h6>Primary</h6>
                                    <p>January 9, 2018</p>
                                </div>
                                <div class="class-con-bot">
                                    <span>AGE GROUP<br> 2 - 5</span>
                                    <span>$120 <br>Monthly</span>
                                </div>
                            </div>
                            <div class="r-class">
                                <img src="img/wellcome/wellcome-3-1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="sin-class wow fadeInUp" data-wow-delay=".5s">
                        <div class="row no-gutters">
                            <div class="left-c">
                                <div class="class-con-top bg-blue">
                                    <h5>PAINTING CLASS</h5>
                                    <h6>Advance</h6>
                                    <p>February 10, 2018</p>
                                </div>
                                <div class="class-con-bot">
                                    <span>AGE GROUP<br> 2 - 5</span>
                                    <span>$140 <br>Monthly</span>
                                </div>
                            </div>
                            <div class="r-class">
                                <img src="img/class/class-h2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="sin-class wow fadeInUp" data-wow-delay=".5s">
                        <div class="row no-gutters">
                            <div class="left-c">
                                <div class="class-con-top bg-green">
                                    <h5>GROUP STUDY</h5>
                                    <h6>Mid Level</h6>
                                    <p>July 25, 2018</p>
                                </div>
                                <div class="class-con-bot">
                                    <span>AGE GROUP<br> 3 - 8</span>
                                    <span>$90 <br>Monthly</span>
                                </div>
                            </div>
                            <div class="r-class">
                                <img src="img/class/class-h3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="sin-class wow fadeInUp" data-wow-delay=".5s">
                        <div class="row no-gutters">
                            <div class="left-c">
                                <div class="class-con-top bg-red">
                                    <h5>KIDS COMPETITION</h5>
                                    <h6>Kindergarten</h6>
                                    <p>September 12, 2018</p>
                                </div>
                                <div class="class-con-bot">
                                    <span>AGE GROUP<br> 5 - 8</span>
                                    <span>$120 <br>Monthly</span>
                                </div>
                            </div>
                            <div class="r-class">
                                <img src="img/class/class-h4.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!--Our class area end-->
<!--Facilities area start-->
<!--<div class="facilities-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="area-heading font-w style-two">Our Facilities</h1>
                <p class="heading-para font-w">
                    We promised you that, we always try to take care of your childdren.
                    Early child care is a very important and often overlooked compaonent of child development
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6 offset-xl-1 col-xl-5">
                <div class="facil-content wow flipInY" data-wow-delay=".2s">
                    <div class="fac-con-top">
                        <h3>Release of Let raset sheets containing</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod. Praesent interdum est gravida vehicula est node maecenas loareet morbi.</p>
                    </div>
                    <div class="fac-con-bottom">
                        <div class="sin-fac">
                            <h5>MANY SPORTS</h5>
                            <p>Class aptent taciti estied aliquam ellus pers aliquam ellus pers.</p>
                        </div>
                        <div class="sin-fac">
                            <h5>LIBRARY</h5>
                            <p>Class aptent taciti estied aliquam ellus pers aliquam ellus pers.</p>
                        </div>
                        <div class="sin-fac">
                            <h5>PAINTING</h5>
                            <p>Class aptent taciti estied aliquam ellus pers aliquam ellus pers.</p>
                        </div>
                        <div class="sin-fac">
                            <h5>MUSIC LESSON</h5>
                            <p>Class aptent taciti estied aliquam ellus pers aliquam ellus pers.</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-6 col-xl-5">
                <div class="fac-image wow flipInX" data-wow-delay=".5s">
                    <img src="img/facilities-1.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>-->
<!--Facilities area end-->
<!--Service area start-->
<!--<div class="service-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="area-heading  style-two">Our Services</h1>
                <p class="heading-para ">
                    We promised you that, we always try to take care of your childdren.
                    Early child care is a very important and often overlooked compaonent of child development
                </p>
            </div>
        </div>

        <div class="row">
            <div class="offset-md-0 col-md-12 offset-lg-1 col-lg-10">
                <div class="row">
                    <div class=" col-sm-6 col-md-6 col-lg-4">
                        <div class="sin-ser wow fadeInUp" data-wow-delay=".1s">
                            <img src="img/icon/ser-1.png" alt="">
                            <div class="ser-det">
                                <h2>Experience Teachers</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6  col-md-6 col-lg-4">
                        <div class="sin-ser wow fadeInUp" data-wow-delay=".3s">
                            <img src="img/icon/ser-3.png" alt="">
                            <div class="ser-det">
                                <h2>Love With Care</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="sin-ser wow fadeInUp" data-wow-delay=".5s">
                            <img src="img/icon/ser-5.png" alt="">
                            <div class="ser-det">
                                <h2>Delicious Food</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="sin-ser wow fadeInUp" data-wow-delay=".7s">
                            <img src="img/icon/ser-2.png" alt="">
                            <div class="ser-det">
                                <h2>Many Sports</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="sin-ser wow fadeInUp" data-wow-delay=".9s">
                            <img src="img/icon/ser-4.png" alt="">
                            <div class="ser-det">
                                <h2>Physical Activity</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="sin-ser wow fadeInUp" data-wow-delay=".99s">
                            <img src="img/icon/ser-6.png" alt="">
                            <div class="ser-det">
                                <h2>Transportation</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>-->
<!--Service area end-->
<!--Childcare service area start-->
<!--<div class="childcare-service">
    <div class="container-fluid">
        <div class="row">
            <div class="offset-md-0 col-md-12 col-lg-7 offset-lg-1 offset-xl-2 col-xl-4">
                <div class="inner-service">
                    <span>BENEFITS OF</span>
                    <h1 class="area-heading  style-two">Childcare Services</h1>
                    <p>Our service is simple, once you register with Happy Baby we select and introduce suitable babysitter/s for your family. You then are free to contact that babysitter as many times as required for further bookings.</p>
                    <div class="childcare-ser-feature">
                        <span><i class="fa fa-check"></i>Individual childcare advice</span>
                        <span><i class="fa fa-check"></i>Individual childcare advice</span>
                        <span><i class="fa fa-check"></i>Peace of mind</span>
                        <span><i class="fa fa-check"></i>Flexibility and choice</span>
                        <span><i class="fa fa-check"></i>Flexibility and choice</span>
                        <span><i class="fa fa-check"></i>Peace of mind</span>
                    </div>
                    <a href="#" class="kids-care-btn bg-sky">More about us</a>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!--Childcare service area end-->
<!--Why choose us and upcoming area start-->
<!--<div class="event-and-choose">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 offset-xl-2 col-xl-4">
                <h1 class="area-heading font-red style-two">UPComing Events</h1>
                <p class="heading-para">we promised you that, we always try to take care of your childdren. Early child care is a very important and often overlooked compaonent</p>
                <div class="sin-up-event">
                    <img src="img/up-ev-1.jpg" alt="">
                    <div class="sin-up-right">
                        <h5 class="font-orange">Arts Celebration</h5>
                        <span><i class="fa fa-clock-o"></i>At 6.30 pm</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas eveniet, nemo dicta. Ullam nam</p>
                    </div>
                </div>
                <div class="sin-up-event">
                    <img src="img/up-ev-2.jpg" alt="">
                    <div class="sin-up-right">
                        <h5 class="font-sky">Literature Day (and Night)</h5>
                        <span><i class="fa fa-clock-o"></i>At 6.30 pm</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas eveniet, nemo dicta. Ullam nam</p>
                    </div>
                </div>
                <div class="sin-up-event">
                    <img src="img/up-ev-3.jpg" alt="">
                    <div class="sin-up-right">
                        <h5 class="font-per">Open House</h5>
                        <span><i class="fa fa-clock-o"></i>At 6.30 pm</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas eveniet, nemo dicta. Ullam nam</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-4">
                <h1 class="area-heading font-sky style-two">Why Choose Us</h1>
                <p class="heading-para">we promised you that, we always try to take care of your childdren. Early child care is a very important and often overlooked compaonent</p>
                <div class="collapse-wrapper">
                    <div id="accordion" role="tablist">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <h5 class="mb-0">
                                    <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Fishing Tournament</a>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit quae repellendus provident dolor iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingTwo">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Student-Led Conferences
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit quae repellendus provident dolor iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingThree">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Math Day
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit quae repellendus provident dolor iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingFour">
                                <h5 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        Learning Fest
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
                                <div class="card-body">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit quae repellendus provident dolor iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!-- Why choose us and upcoming area end-->
<!--Features style four  start-->
<!--<section class="play-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 offset-xl-1 col-xl-6">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="area-heading font-w style-two">Play as you Learn</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-12 col-xl-6">
                        <div class="sin-play">
                            <img src="img/icon/play-1.png" alt="">
                            <div class="play-det">
                                <h2>English Summer Camp</h2>
                                <p>Nam ullamcorper, diam sit amet euismod pelleontesque, eros risus rhoncus libero, inst tibulum nisl ligula....</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-12 col-xl-6">
                        <div class="sin-play">
                            <img src="img/icon/play-2.png" alt="">
                            <div class="play-det">
                                <h2>Sports Camp</h2>
                                <p>Nam ullamcorper, diam sit amet euismod pelleontesque, eros risus rhoncus libero, inst tibulum nisl ligula....</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-12 col-xl-6">
                        <div class="sin-play">
                            <img src="img/icon/play-3.png" alt="">
                            <div class="play-det">
                                <h2>Drawing &amp; Painting</h2>
                                <p>Nam ullamcorper, diam sit amet euismod pelleontesque, eros risus rhoncus libero, inst tibulum nisl ligula....</p>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6 col-lg-12 col-xl-6">
                        <div class="sin-play">
                            <img src="img/icon/play-4.png" alt="">
                            <div class="play-det">
                                <h2>Swimming Competition</h2>
                                <p>Nam ullamcorper, diam sit amet euismod pelleontesque, eros risus rhoncus libero, inst tibulum nisl ligula....</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-4">
                <div class="tab-carousel owl-carousel owl-theme">
                    <div class="sin-tab-carousel item">
                        <img src="img/bg/tab-carousel-bg.jpg" alt="">
                    </div>
                    <div class="sin-tab-carousel item">
                        <img src="img/bg/tab-carousel-bg-2.jpg" alt="">
                    </div>
                    <div class="sin-tab-carousel item">
                        <img src="img/bg/tab-carousel-bg-3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
<!-- Features style four end-->
<!--Parent say area start-->
<!--<section class="parent-say-area wow fadeInUp" data-wow-delay=".3s">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="area-heading font-sky style-two">Parrent Say About us</h1>
                <p class="heading-para">
                    We promised you that, we always try to take care of your childdren.
                    Early child care is a very important and often overlooked compaonent of child development
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="parent-say-content owl-carousel owl-theme">-->
<!--single parent say-->
<!--<div class="sin-parent-say item">
    <div class="sin-parent-say-inner">
        <p>Lorem ipsum dolor sit amet, consectetur adcing elit Lorem ipsum dolor sit amet, tetur adip iscing elit psum dolor sit amet. Aenean consectetur fringilla mi in mollis.Lorem ipsum dolor sit amet, consectetur adcing elit Lorem ipsum dolor sit amet, tetur adila mi in mollis.</p>
    </div>
    <div class="sin-parent-img">
        <img src="img/latest-news/coments-1.png" alt="">
    </div>
</div>-->
<!--single parent say-->
<!--<div class="sin-parent-say item">
    <div class="sin-parent-say-inner">
        <p>Sed tincidunt purus a odio rutrum egestas. Ut vel justo diam. Sed felis arcu, scelerisque ut nisi cursus, scelerisque cursus nisl. Suspendisse potenti. Fusce bibendum erat sit amet lorem condimentum tincidunt. Quisque vulputate sollicitudin rutrum. Phasellus eleifend</p>
    </div>
    <div class="sin-parent-img">
        <img src="img/latest-news/coments-2.png" alt="">
    </div>
</div>-->
<!--single parent say-->
<!--<div class="sin-parent-say item">
                        <div class="sin-parent-say-inner">
                            <p>quam non varius rutrum, magna nisi tincidunt metus, sit amet rhoncus velit orci et metus. In aliquet nunc nec lacus volutpat, porttitor sollicitudin mi tristique. Ut faucibus mi nec dolor tincidunt, a bibendum ipsum aliquet. Interdum et mal rutrum. Phasellus eleifend</p>
                        </div>
                        <div class="sin-parent-img">
                            <img src="img/latest-news/coments-3.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
<!--Parent say area end-->
<!--Latest News area start-->
<section class="latest-news-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="area-heading font-sky style-two">Последние новости</h1>
            </div>
        </div>
        <div class="row justify-content-center no-gutters">
            <div class="col-xl-8">
                <div class="row">
                    @foreach (News newsItem in _context.News.OrderByDescending(date => date.Date).Where(news => !news.Blocked).Take(3))
                    {
                        <div class="col-md-4 col-xl-4">
                            <div class="single-news wow wow flipInY" data-wow-delay=".7s">
                                <img src="@newsItem.PreviewPhoto" alt="">
                                <div class="news-det">
                                    <h4>@newsItem.Header</h4>
                                    <p>@newsItem.PreviewText</p>
                                    <div class="news-meta">
                                        <span>
                                            <i class="fa fa-comment"></i>
                                            @_context.Comments.Where(id => id.NewsId == newsItem.Id).ToList().Count() Comments
                                        </span><span>
                                            <i class="fa fa-share-alt-square"></i>
                                            @newsItem.Share Share
                                        </span>
                                        <a href=""><i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
</section>
<!--Latest News area area end-->
<!--Newsletter style two area start-->
<!--<section class="newsletter-two d-flex align-items-center">
    <div class="container-fluid ">
        <div class="row ">
            <div class="col-md-12 col-lg-8">
                <div class="subscribe-link  style-two float-right">
                    <form action="newsletter.php" method="post" class="newsletter-form" data-deventform="newsletter-subscribe">
                        <input placeholder="Your E-mail" name="email" type="text">
                        <button type="submit" name="submit" id="newsletter-submit" class="  kids-care-btn bgc-orange nl-button">Subscribe</button>
                        <div class="form-result alert">
                            <div class="content"></div>
                        </div>
                    </form>
                </div>
                <span>newsletter</span>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="border"></div>
                <a class="nl2-phone-number" href="">+ (800) 0123 456 789</a>
            </div>
        </div>
    </div>
</section>-->
<!--Newsletter style two area end-->
<!--Quick contact area start-->
<!--<section class="quick-contact-two">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1 class="area-heading font-per style-two">Quick Contact</h1>
                <p class="heading-para">
                    we promised you that, we always try to take care of your childdren.
                    Early child care is a very important and often overlooked compaonent of child development
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 offset-xl-2 col-xl-2">
                <div class="sin-quick-con wow fadeInUp" data-wow-delay=".4s">
                    <div class="sin-quck-icon">
                        <div class="sin-co-img">
                            <img src="img/icon/marker.png" alt="">
                        </div>
                    </div>
                    <div class="sin-quick-con">
                        <h4 class="font-orange">Our Location</h4>
                        <p>3576 Melrose Streate Avinue</p>
                        <p>CA 8704, Australia</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-xl-2">
                <div class="sin-quick-con wow fadeInUp" data-wow-delay=".6s">
                    <div class="sin-quck-icon">
                        <div class="sin-co-img">
                            <img src="img/icon/phone.png" alt="">
                        </div>
                    </div>
                    <div class="sin-quick-con">
                        <h4 class="font-sky">PHONE NUMBER</h4>
                        <p>3576 Melrose Streate Avinue</p>
                        <p>CA 8704, Australia</p>
                    </div>

                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-xl-2">
                <div class="sin-quick-con wow fadeInUp" data-wow-delay=".8s">
                    <div class="sin-quck-icon">
                        <div class="sin-co-img">
                            <img src="img/icon/envelope.png" alt="">
                        </div>
                    </div>
                    <div class="sin-quick-con">
                        <h4 class="font-red">EMAIL ID</h4>
                        <p>3576 Melrose Streate Avinue</p>
                        <p>CA 8704, Australia</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-xl-2">
                <div class="sin-quick-con wow fadeInUp" data-wow-delay=".99s">
                    <div class="sin-quck-icon">
                        <div class="sin-co-img">
                            <img src="img/icon/time.png" alt="">
                        </div>
                    </div>
                    <div class="sin-quick-con">
                        <h4 class="font-per">KIDCARE TIME</h4>
                        <p>3576 Melrose Streate Avinue</p>
                        <p>CA 8704, Australia</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
<!--Quick contact area end-->
