@using LSFProject.ViewModels;
@inject Microsoft.AspNetCore.Identity.UserManager<LSFProject.Areas.Identity.Data.LSFUser> _userManager
@model LSFProject.ViewModels.News
@{
    ViewData["Title"] = "Новость - " + Model.Header;
    LSFProjectContext _context = new LSFProjectContext();
    Comment commentForm = new Comment();
}
@if (Model != null)
{
    <section class="blog-posts grid-system">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="all-blog-posts">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="blog-post">
                                    <div class="blog-thumb">
                                        <img src="@Model.PreviewPhoto" alt="">
                                    </div>
                                    <div class="down-content">
                                        <a href="@Url.Action("PostDetails", "Post", new { url = Model.Url })"><h4>@Model.Header</h4></a>
                                        <ul class="post-info">
                                            <li><a href="@Url.Action("PostDetails", "Post", new { url = Model.Url })">@Model.Author</a></li>
                                            <li><a href="@Url.Action("PostDetails", "Post", new { url = Model.Url })">@Model.Date</a></li>
                                            <li><a href="@Url.Action("PostDetails", "Post", new { url = Model.Url })">@_context.Comments.Where(comment => comment.NewsId == Model.Id).ToList().Count Comments</a></li>
                                        </ul>
                                        @Html.Raw(Model.Description)
                                        <div class="post-options">
                                            <div class="row">
                                                <div class="col-6">
                                                    <ul class="post-share">
                                                        <li><i class="fa fa-share-alt"></i></li>
                                                        <li><a href="#">Facebook</a>,</li>
                                                        <li><a href="#"> Twitter</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="sidebar-heading">
                                    <h2 class="text-dark">@_context.Comments.Where(comment => comment.NewsId == Model.Id).ToList().Count комментариев</h2>
                                </div>
                                <ul>
                                    @foreach (var comment in _context.Comments.Where(commentModel => commentModel.NewsId == Model.Id).ToList())
                                    {
                                        if (!comment.Answer)
                                        {
                                            <li>
                                                <div class="right-content">
                                                    <h4 class="text-dark">@(((LSFProject.Areas.Identity.Data.LSFUser)_userManager.FindByIdAsync(comment.UserId).Result).UserName)<span>@comment.Date</span></h4>
                                                    <p>@comment.Text</p>
                                                </div>
                                            </li>
                                        }
                                        else
                                        {
                                            <li class="replied">
                                                <div class="right-content" style="display: block;">
                                                    <h4>@(((LSFProject.Areas.Identity.Data.LSFUser)_userManager.FindByIdAsync(comment.UserId).Result).UserName))<span>@comment.Date</span></h4>
                                                    <p>@comment.Text</p>
                                                </div>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                            <div class="col-lg-12">
                                <div class="sidebar-item submit-comment">
                                    <div class="sidebar-heading">
                                        <h2 class="text-dark">Ваш комментарий</h2>
                                    </div>
                                    <div class="content">
                                        <form id="comment" asp-action="CreateComment" asp-controller="Home">
                                            <div style="height: 0;">
                                                <input class="invisible" asp-for="@commentForm.UserId" name="idUser" type="text" id="idUser" required="" value="@_userManager.GetUserId(User)">
                                                <input class="invisible" asp-for="@commentForm.NewsId" name="idNews" type="text" id="idNews" required="" value="@Model.Id">
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <textarea asp-for="@commentForm.Text" name="message" rows="6" id="message" placeholder="Введите комментарий" required=""></textarea>
                                                </div>
                                                <div class="col-lg-12">
                                                    <fieldset>
                                                        <button type="submit" id="form-submit" class="main-button">Оставить комментарий</button>
                                                    </fieldset>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}