@{
    List<KeyValuePair<string, string>> list = (List<KeyValuePair<string, string>>)ViewData["List"];
    ViewData["Title"] = list.FirstOrDefault(x => x.Key == ViewData["Link"].ToString()).Value;
}




<div class="text-bread-crumb d-flex align-items-center style-seven">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">@ViewData["Title"]</h2>
            </div>
        </div>
    </div>
</div>

<!--Breadcrumb area end-->
<!--Tution area top start-->
<section class="tution-top">
    <div class="container-fluid">
        <div class="row justify-content-center wow fadeInUp" data-wow-delay=".3s">
            <partial name="@ViewData["Responce"]" />

            <div class="col-xs-3 sidebar">
                <div class="sidebar__container">
                    <div class="submenu__title"></div>


                    <ul id="section-nav" class="sidebar__list">

                        @foreach (var listItem in list)
                        {
                            <li class="sidebar__elem">
                                <a class="sidebar__link @(ViewData["Link"].ToString() == listItem.Key ? "active" : "")" rel="nofollow" asp-controller="Home" asp-action="RazdelOBJ" asp-route-linkRazdel="@listItem.Key" asp-route-razdelName="@ViewData["RazdelName"]">@listItem.Value</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Tution area top end-->

