@model SearchViewModel
@{
    LSFProjectContext _context = new LSFProjectContext();
    ViewData["Title"] = "Поиск по запросу " + @Model.SearchQuery;
}
<!--Breadcrumb area start-->

<div class="text-bread-crumb d-flex align-items-center style-six blue">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2 class="text-center">@ViewData["Title"]</h2>
                <div class="bread-crumb-line">
                    <span>
                        <a asp-controller="Home" asp-action="Index">Главная /</a>
                    </span>@ViewData["Title"]
                </div>
            </div>
        </div>
    </div>
</div>

<!--Breadcrumb area end-->
<!--Blog area start -->

<section class="blog-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-xl-9">
                @if (Model.Users.Count != 0)
                {
                    <div class="row">
                        <h2>Найденые пользователи: @Model.SearchQuery</h2>
                        <hr/>
                        <br/>
                    </div>
                    <div class="row">
                        @foreach (AspNetUser user in Model.Users)
                        {
                            <div class="card" style="width: 18rem; align-items: center; margin: 30px;">
                                @if (_context.AspNetIcons.Any(i => i.Id == user.Icon))
                                {
                                    <img class="card-img-top account-big-logo-img" src="data:image/png;base64,@System.Convert.ToBase64String(_context.AspNetIcons.FirstOrDefault(icon => icon.UserId == user.Id).Icon)"/>
                                }
                                else
                                {
                                    <img class="card-img-top account-big-logo-img" src="~/img/account/8ea1168fa53ct.jpg"/>
                                }
                                <div class="card-body">
                                    <h5 class="card-title">@user.Email</h5>
                                    <p class="card-text">Создан: @user.DateCreate, Очков опыта(xp): @user.LevelXp</p>
                                    <a asp-area="Identity" asp-page="/Account/Manage/UserInfo" asp-route-userId="@user.Id" class="btn btn-primary">Просмотреть профиль</a>
                                </div>
                            </div>
                        }
                    </div>
                }
                <hr/>

                @if (Model.News.Count != 0)
                {
                    <div class="row">
                        <h2>Найденые новости</h2>
                    </div>
                    <div class="row">
                        @foreach (AspNetNews newsItem in Model.News.Where(n => n.Status == StatusNews.Publish))
                        {
                            <div class="col-md-4 col-md-6 col-xl-4">
                                <div class="single-news wow fadeInUp" data-wow-delay=".3s">
                                    <img src="@(Config.DomainName + _context.AspNetFiles.FirstOrDefault(f => f.Id == newsItem.PreviewPhoto).Path)" alt="@_context.AspNetFiles.FirstOrDefault(f => f.Id == newsItem.PreviewPhoto).Title">
                                    <div class="news-det">
                                        <h4>@newsItem.Header</h4>
                                        <p>@newsItem.PreviewText</p>
                                        <div class="news-meta">
                                            <span>
                                                <i class="fa fa-comment"></i>
                                                @_context.AspNetNewsComments.Where(id => id.NewsId == newsItem.Id).ToList().Count() Коментарии
                                            </span>
                                            <span>
                                                <i class="fa fa-share-alt-square"></i>
                                                @newsItem.Share Репосты
                                            </span>
                                            <a asp-controller="Home" asp-action="NewsDetails" asp-route-url="@newsItem.Url">
                                                <i class="fa fa-angle-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        }
                    </div>
                }
            </div>
            <div class="col-md-4 col-xl-3">
                <div class="blog-sidebar">
                    <div class="sin-sidebar">
                        <div class="sidebar-heading">
                            <h5>Подписаться на рассылку</h5>
                        </div>
                        <form>
                            <div class="search-box">
                                <input type="email" name="email" id="email" placeholder="Email адрес">
                                <input class="search-btn" type="button" asp-controller="Home" asp-action="EmailSubscribe" value="Подписаться сейчас">
                            </div>
                        </form>
                    </div>
                    <div class="sin-sidebar">
                        <div class="sidebar-heading">
                            <h5>Последние новости</h5>
                        </div>
                        @if (_context.AspNetNews.Count(n => n.Status == StatusNews.Publish) != 0)
                        {
                            @foreach (AspNetNews newsItem in _context.AspNetNews.Where(n => n.Status == StatusNews.Publish).OrderByDescending(d => d.Date).Take(4).ToList())
                            {
                                <div class="sidebar-post">
                                    <div class="sb-img">
                                        <img src="@(Config.DomainName + _context.AspNetFiles.FirstOrDefault(f => f.Id == newsItem.PreviewPhoto).Path)" alt="@_context.AspNetFiles.FirstOrDefault(f => f.Id == newsItem.PreviewPhoto).Title">
                                    </div>
                                    <div class="sb-post-det">
                                        <p>
                                            <a asp-controller="Home" asp-action="NewsDetails" asp-route-url="@newsItem.Url">@newsItem.Header</a>
                                        </p>
                                        <span>@newsItem.Date.ToShortDateString()</span>
                                    </div>
                                </div>
                            }
                        }
                        else
                        {
                            <div style="width: 100%;">
                                <h4 class="text-center">Список пуст.</h4>
                            </div>
                        }

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!--Blog area end -->