@page
@model EditRolesUserModel
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Изменение роли";
}

<div class="container-fluid container-fluid-site">
    <h2>Изменение ролей для пользователя @Model.modelRole.UserEmail</h2>

    <form asp-page-handler="EditRolesUser" method="post">
        <input type="hidden" name="userId" value="@Model.modelRole.UserId" />
        <div class="form-group">
            @foreach (IdentityRole role in Model.modelRole.AllRoles)
            {
                if (role.Name == "Admin" && !User.IsInRole("Admin"))
                {

                }
                else
                {
                    <hr />
                    <div style="display: inline-flex;">
                        <input type="checkbox"  name="roles" value="@role.Name"
                               @(Model.modelRole.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") style="margin-top: 5px;"/> <h5 style="margin-left: 15px;"> @role.Name </h5>
                    </div>
                    <br />
                    }
                }
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a class="btn btn btn-primary" asp-page="./UserList">Назад к списку пользователей</a>
    </form>
</div>
