@page
@using LSFProject.ViewModels;
@model LSFProject.Areas.Identity.Pages.Account.Manage.PostsModel
@{
    ViewData["Title"] = "Новости";
    LSFProjectContext _context = new LSFProjectContext();
}
<h3>@ViewData["Title"]</h3>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Автор</th>
            <th scope="col">Заголовок</th>
            <th scope="col">Лайки</th>
            <th scope="col">Репосты</th>
            <th scope="col">Дата</th>
            <th scope="col">Просмотры</th>
            <th scope="col">Изображение</th>
            <th scope="col">Статус</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var newsItem in _context.News.Where(news => !news.Blocked).ToList())
        {
            <tr class="text-center">
                <th scope="row"><a href="@Url.Action("PostDetails", "Post", new { url = newsItem.Url})">@newsItem.Id</a></th>
                <th><a href="@Url.Action("PostDetails", "Post", new { url = newsItem.Url})">@newsItem.Author</a></th>
                <th><a href="@Url.Action("PostDetails", "Post", new { url = newsItem.Url})">@newsItem.Header</a></th>
                <th><a href="@Url.Action("PostDetails", "Post", new { url = newsItem.Url})">@newsItem.Likes</a></th>
                <th><a href="@Url.Action("PostDetails", "Post", new { url = newsItem.Url})">@newsItem.Share</a></th>
                <th><a href="@Url.Action("PostDetails", "Post", new { url = newsItem.Url})">@newsItem.Date</a></th>
                <th><a href="@Url.Action("PostDetails", "Post", new { url = newsItem.Url})">@newsItem.Watching</a></th>
                <th><a href="@Url.Action("PostDetails", "Post", new { url = newsItem.Url})"><img src="@newsItem.PreviewPhoto" width="50" height="40" /></a></th>
                @if (newsItem.Blocked)
                {
                    <th><img src="~/images/panel-images/No-button.png" /></th>
                }
                else
                {
                    <th><img src="~/images/panel-images/Yes-button.png" /></th>
                }
                <th scope="col"><a href="@Url.Action("EditPost", "Admin", new { idPost = newsItem.Id})" class="text-warning">Изменить</a></th>
                @if (!newsItem.Blocked)
                {
                    <th scope="col"><a href="@Url.Action("PostingPost", "Admin", new { idPost = newsItem.Id})" class="text-success">Опубликовать</a></th>
                }
                else
                {
                    <th scope="col"><a href="@Url.Action("BlockedPost", "Admin", new { idPost = newsItem.Id})" class="text-danger">Заблокировать</a></th>
                    <th scope="col"><a href="@Url.Action("PostDetails", "Post", new { url = newsItem.Url})" class="text-primary">Просмотреть</a></th>
                }
                <th scope="col"><a href="@Url.Action("DeletePost", "Admin", new { idPost = newsItem.Id})" class="text-danger">Удалить</a></th>
            </tr>
        }
    </tbody>
</table>