@page
@model LSFProject.Areas.Identity.Pages.Account.Manage.RemovePosts
@{
    ViewData["Title"] = "Заблокированные посты";
    LSFProject.LSFProjectContext _context = new LSFProject.LSFProjectContext();
}
<h2>@ViewData["Title"]</h2>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Автор</th>
            <th scope="col">Заголовок</th>
            <th scope="col">Коментарии</th>
            <th scope="col">Репосты</th>
            <th scope="col">Дата</th>
            <th scope="col">Просмотры</th>
            <th scope="col">Изображение</th>
            <th scope="col">Статус</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var newsItem in _context.AspNetNews.Where(news => news.Blocked).ToList())
        {
        <tr class="text-center">
            <th scope="row"><a href="@Url.Action("NewsDetails", "Home", new { url = newsItem.Url})">@newsItem.Id</a></th>
            <th><a href="@Url.Action("NewsDetails", "Home", new { url = newsItem.Url})">@newsItem.Author</a></th>
            <th><a href="@Url.Action("NewsDetails", "Home", new { url = newsItem.Url})">@newsItem.Header</a></th>
            <th><a href="@Url.Action("NewsDetails", "Home", new { url = newsItem.Url})">@_context.AspNetNewsComments.Where(newss => newss.NewsId == newsItem.Id).ToList().Count()</a></th>
            <th><a href="@Url.Action("NewsDetails", "Home", new { url = newsItem.Url})">@newsItem.Share</a></th>
            <th><a href="@Url.Action("NewsDetails", "Home", new { url = newsItem.Url})">@newsItem.Date</a></th>
            <th><a href="@Url.Action("NewsDetails", "Home", new { url = newsItem.Url})">@newsItem.Watching</a></th>
            <th><a href="@Url.Action("NewsDetails", "Home", new { url = newsItem.Url})"><img src="@newsItem.PreviewPhoto" width="50" height="40" /></a></th>
            @if (newsItem.Blocked)
            {
                <th><img src="~/img/admin-panel/No-button.png" /></th>
            }
            else
            {
                <th><img src="~/img/admin-panel/Yes-button.png" /></th>
            }
            <th scope="col"><a asp-page="./EditNews" asp-route-news="newsItem" asp-route-newsId="@newsItem.Id" class="text-warning"></a></th>
            <th scope="col"><a asp-page-handler="PublishNews" asp-route-newsId="@newsItem.Id" class="text-success">Опубликовать</a></th>
            <th scope="col"><a asp-page-handler="DeleteNews" asp-route-newsId="@newsItem.Id" class="text-danger">Удалить</a></th>
        </tr>
        }
    </tbody>
</table>